*{
  margin: 0;
  padding: 0;  
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

html{
  font-family: Poppins;
  color: #f0f0f0;
}
body{
  min-height: 100vh;
  background: #0b0d15;
  color: #a2a5b3;
  align-content: center;
}
h1{
  color: white;
}
p {
color: whitesmoke;
}


.card{
  margin: 0 auto;
  padding: 2em;
  width: 700px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur;
}
.card2{
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #9d00ff, #00e5ff, #006aff, #ff0095, #9d00ff);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.card2::after, .card2::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
.card2::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
body {margin:0;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c1f2b;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {

}

.radial-text-gradient {
  font-size: 36px;
  background: radial-gradient(circle, rgb(255, 0, 204), rgb(0, 132, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}